<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerLinks}}
</head>
<body>
   {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-12 col-md-12 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 main_header_right">
                        <figure>
                            <img src="../public/Images/about.jpg" class="img-fluid" title="about">
                        </figure>
                    </div>
                    <div class="col-12 col-md-6 main_header_left">
                        <p>The Upstrom web application has been developed for you at our company. We have a wealth of experience in presenting weather data from our portal, which was founded in 2022 and is now one of the highest-traffic servers in India.</p>
                        <h1>I will be a<span> Great Help</span> to You</h1>
                        <a href="/weather"><button><b>Know More</b></button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>