@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item img{
    max-height: 28rem;
    
    transition: 0.01ms;
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3) );
}

:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}
html{
    font-size: 62.5%;  /* 1rem=10px */
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.row{
    margin: 0;
}
.main_menu{
  background-color: var(--main-bg);
 }
 .navbar{
     color: #fff;
     background-color: var(--main-bg);
     padding: 1.4rem 0;
 }
 .navbar li{
     margin-left: 2rem;
 }
 .navbar a{
      color: #fff;
      font-size: 1.8rem;
 }
 .navbar a:hover{
     color:var(--main-color) ;
 }
 .navbar-toggler{
    background: linear-gradient(to bottom,#fff,#000,#fff,#000,#fff);
 }
 .fa-snowflake{
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
 }
 @keyframes rot{
     0%{
         transform:rotate(0deg);
     }
     100%{
         transform:rotate(360deg);
     }
 }

 /* main header */
  .main_header{
     background: linear-gradient(to top left,rgb(245, 216, 51),rgb(115, 149, 241),rgb(6, 6, 114));
 }
 
 .main_header_left{
     height: 50rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .main_header_left p{
     font-size: 2.5rem;
     color: rgb(255, 255, 255);
     font-style: italic;
     font-family: 'Cormorant Upright';
 }
 .main_header_left h1{
     font-size: 3rem;
     margin: 1rem 0 4rem 0;
     text-transform:capitalize;
     color: rgb(4, 56, 58);
     font-family: 'Cormorant Upright',serif;
     font-weight: 600;
 }
 .main_header_left span{ 
     color: greenyellow;
     font-size: 3.5rem;
 }
 .main_header_left span:hover{
     color: crimson;
     font-size: 4rem;
     margin-bottom: 1rem;
 }
 .main_header_left button{
  text-transform: uppercase;
  border-radius: 2rem;
  box-shadow: 0 8px 6px -6px #000;
  font-size: 1.4rem;
  padding:0.8rem 1.8rem;
  border: none;
  color:rgb(14, 8, 1);
 }
 .main_header_left button:hover {
    background-color: green;
    color:#fff;
  }
 .main_header_right{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_right figure img{
   filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.5) );
}

/* Weather Page */
/* Search-Bar */
.searchbar{
    margin-left: 40%;
    font-weight: 600;
    width: 100%;
}
.searchbar input{
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 10px 20px -7px rgb(63, 55, 55);
    border: none;
    color: var(--main-color);
}
.searchbar input::placeholder{
   
    font-style: italic;
}
.searchbar button{
  margin-left: 1rem;
  border-radius: 1.5rem;
  box-shadow: 2px 8px 6px -6px rgb(63, 55, 55);
  font-size: 1.4rem;
  font-weight:600;
  padding:0.8rem 1.5rem;
  border: none;
  color:#fff;
  background-color: black;
}
/* Card */
.card{
    height: 20rem;
    max-width: 80%;
    border-radius: 1.8rem;
    box-shadow: 2px 8px 20px -6px rgb(63, 55, 55);
    background:radial-gradient(rgba(161, 24, 24, 0.007),rgb(5, 4, 3,0.01)) ;
    
}
.card-title{
    text-transform: uppercase;
    color: #fff;
    line-height: 2rem;
    font-weight: bold;
    font-family: serif;
    font-size: 2rem;
    margin-bottom:2rem;
}
.card-subtitle{
    font-size: 1rem;
    color: peachpuff;
    margin-bottom:2rem;
    font-family: 'Cormorant Upright';
}
.card-body h3{
    color:aqua;
    font-family:'Open Sans', serif;
}


/* Footer */
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    line-height: 5rem;
}

/* Responsive Code */

@media (max-width : 1050px){
    .main_header_left{
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right img{
       max-width: 100%;
    }
    .main_header_right{
        height: auto;
        margin: 3rem;
    }
}

